<!--/*************************************************************************************
* WEB322 - 2241 Project
* I declare that this assignment is my own work in accordance with the Seneca Academic
* Policy. No part of this assignment has been copied manually or electronically from
* any other source (including web sites) or distributed to other students.
*
* Student Name  : Emily Fagin
* Student ID    : efagin (139498224)
* Course/Section: WEB322/NEE
*
**************************************************************************************/-->
<footer class="py-4">
    <div class="container">
        <div class="row">
            
        <!-- Connect With Us-->
        <div class="col-md-3">
            <h5>Connect With Us</h5>
            <p class="mt-3">Phone: +1 (555) 123-4567</p>
          <div class="row">
            <div class="col-3">
              <a href="https://www.facebook.com/" class="text-dark" target="_blank">
                <i class="fab fa-facebook-f fa-2x"></i>
              </a>
            </div>
            <div class="col-3">
              <a href="https://www.instagram.com/" class="text-dark" target="_blank">
                <i class="fab fa-instagram fa-2x"></i>
              </a>
            </div>
            <div class="col-3">
              <a href="https://www.linkedin.com/" class="text-dark" target="_blank">
                <i class="fab fa-linkedin-in fa-2x"></i>
              </a>
            </div>
            <div class="col-3">
              <a href="https://www.twitter.com/" class="text-dark" target="_blank">
                <i class="fab fa-twitter fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
  
        <!-- Navigate Column -->
        <div class="col-md-3">
          <h5>Navigate</h5>
          <ul class="list-unstyled">
            <li><a href="/" class="text-dark">Home Page</a></li>
            <li><a href="/mealkits" class="text-dark">Mealkits</a></li>
            <% if (typeof user !== "undefined") { %>
              <li><a class="text-dark" href=<%=user.type === "customer" ? "/cart" : "/mealkits/list" %>><%= user.type === "customer" ? "Cart" : "List"  %></a></li>
              <li><a href="/log-out" class="text-dark">Logout</a></li>
          <% } else { %>

            <li><a href="/sign-up" class="text-dark">Sign Up</a></li>
            <li><a href="/log-in" class="text-dark">Login</a></li>
          <% } %>
          </ul>
        </div>
  
        <!-- Copyright Column -->
        <div class="col-md-6">
          <p><strong>&copy; Emily Fagin, efagin@myseneca.ca, WEB322 Winter 2024:</strong></p>
          <p>By submitting this assignment I declare that this assignment is my own work in accordance with 
            the Seneca Academic Policy. No part of this assignment has been copied manually or 
            electronically from any other source (including web sites) or distributed to other students.</p>
        </div>
      </div>
    </div>
  </footer>