<!--/*************************************************************************************
* WEB322 - 2241 Project
* I declare that this assignment is my own work in accordance with the Seneca Academic
* Policy. No part of this assignment has been copied manually or electronically from
* any other source (including web sites) or distributed to other students.
*
* Student Name  : Emily Fagin
* Student ID    : efagin (139498224)
* Course/Section: WEB322/NEE
*
**************************************************************************************/-->
<div class="card h-100 d-flex flex-column">
    <img src="/mealkit-imgs/<%- imageUrl %>" class="card-img-top mealkit-img" alt="A grid of menu items">
    <div class="card-body flex-grow-1 d-flex flex-column">
        <h5 class="card-title"><%= title %></h5>
        <p class="card-text"><%= description %></p>
        <p class="card-text mt-auto"><strong><%= price %></strong></p>
    </div>
</div>