<!--/*************************************************************************************
* WEB322 - 2241 Project
* I declare that this assignment is my own work in accordance with the Seneca Academic
* Policy. No part of this assignment has been copied manually or electronically from
* any other source (including web sites) or distributed to other students.
*
* Student Name  : Emily Fagin
* Student ID    : efagin (139498224)
* Course/Section: WEB322/NEE
*
**************************************************************************************/-->
<nav class="navbar navbar-expand-lg" id="navbar">
    <div class="container-fluid">

        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="/images/Z-logo.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top" alt="Zestify Logo">
            <span class="ms-2">Zestify</span>
        </a>
        
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse ms-4" id="navbarNav">
            <div class="navbar-text lign-items-center">
                Get Your Own Mealkit Today!
            </div>
            <div class="navbar-nav ms-auto">
                <a class="nav-item nav-link" href="/on-the-menu">On The Menu</a>
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="/sign-up">Sign Up</a>
                <a class="nav-item nav-link" href="/log-in">Log In</a>
            </div>
        </div>
    </div>
</nav>