
<div class="card h-100 d-flex flex-column">
    <img src="<%- imageUrl %>" class="card-img-top mealkit-img" alt="A grid of menu items">
    <div class="card-body flex-grow-1 d-flex flex-column">
        <h5 class="card-title"><%= title %></h5>
        <p class="card-text"><%= description %></p>
        <p class="card-text mt-auto"><strong><%= price %></strong></p>
    </div>
</div>