<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6 card">
            <div class="card-body">
                <h2 class="card-title text-center">Welcome Back!</h2>
                <form>

                    <div class="mb-3"> <!--Email-->
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="example@gmail.com">
                    </div>

                    <div class="mb-3"> <!--Password-->
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="...............">
                    </div>

                    <!--Submission Button-->
                    <button type="submit" class="btn submit-info w-100">Log In</button>
                </form>
            </div>
        </div>
    </div>
</div>