<!--/*************************************************************************************
* WEB322 - 2241 Project
* I declare that this assignment is my own work in accordance with the Seneca Academic
* Policy. No part of this assignment has been copied manually or electronically from
* any other source (including web sites) or distributed to other students.
*
* Student Name  : Emily Fagin
* Student ID    : efagin (139498224)
* Course/Section: WEB322/NEE
*
**************************************************************************************/-->
<div class="bkg-icons"> <!--TODO: later develop a background of icons, with some animation-->
    
    <!--Hero-->
    <div class="hero">
        <div class="hero-text">
            <h1>Add Flavour to Your Life.</h1>
        </div>
    </div>

    <!--How It Works-->
    <div class="float-container">
        <h2>How Does it Work?</h2>
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                <div class="card h-100 d-flex flex-column">
                    <img src="/images/menu-selection.png" class="card-img-top" alt="A grid of menu items">
                    <div class="card-body flex-grow-1">
                        <h5 class="card-title">Step 1: Explore Our Menu</h5>
                        <p class="card-text">Explore our menu with a diverse selection of chef-curated recipes on our user-friendly platform.</p>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                <div class="card h-100 d-flex flex-column">
                    <img src="/images/select-plan.png" class="card-img-top" alt="A couple selecting a meal plan on their computer">
                    <div class="card-body flex-grow-1">
                        <h5 class="card-title">Step 2: Customize Your Plan</h5>
                        <p class="card-text">Tailor your meal kit subscription to fit your lifestyle. Choose the number of meals per week and servings per meal based on your preferences.</p>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                <div class="card h-100 d-flex flex-column">
                    <img src="/images/receive-box.png" class="card-img-top" alt="A couple receiving the box delivery at their doorstep">
                    <div class="card-body flex-grow-1">
                        <h5 class="card-title">Step 3: Receive Fresh Ingredients</h5>
                        <p class="card-text">Receive a carefully packaged meal kit with high-quality, fresh ingredients delivered to your doorstep at the scheduled time.</p>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                <div class="card h-100 d-flex flex-column">
                    <img src="/images/happy-cooking.png" class="card-img-top" alt="A couple happily cooking their meal">
                    <div class="card-body flex-grow-1">
                        <h5 class="card-title">Step 4: Enjoy Easy Cooking</h5>
                        <p class="card-text">Embark on a culinary journey in the comfort of your own kitchen. Follow our step-by-step recipe cards and prepare delicious meals.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <br/>
    <div class="mealkits-container">
    <h2>Featured Meal-Kits</h2>
    <% if (typeof featuredMealkits !== "undefined" && featuredMealkits.length > 0) { %>
        <div class="container mt-3">
            <div class="row">
                <% featuredMealkits.forEach(mk => { %>
                    <div class="col-lg-6 col-md-12 mb-4">
                        <%- include("../partials/mealkit", {...mk._doc})%>
                    </div>
                <% });  %>
            </div>
        </div>
    <% } else { %>
        <h3>No Featured Mealkits At This Time...</h3>
    <% } %>
    </div>
</div>