<!--/*************************************************************************************
* WEB322 - 2241 Project
* I declare that this assignment is my own work in accordance with the Seneca Academic
* Policy. No part of this assignment has been copied manually or electronically from
* any other source (including web sites) or distributed to other students.
*
* Student Name  : Emily Fagin
* Student ID    : efagin (139498224)
* Course/Section: WEB322/NEE
*
**************************************************************************************/-->
<div class="bkg-message">
  <!--TODO: later develop a background of icons, with some animation-->
  <div class="float-container text-center">
    <h1>Welcome to List!</h1>
    <a href="/load-data/mealkits" style="width:150px;" class="btn btn-price accent me-4 mt-3">
        Load Mealkits
    </a>

    <a href="/mealkits/add" style="width:150px;" class="btn btn-price accent mt-3">
          Add Mealkit
      </a>
  </div>

  <% if (typeof mealkits !== "undefined" && mealkits.length > 0) { %>
  <div class="mealkits-container row mt-3">
    <% mealkits.forEach(mk => { %>
    <div class="col-xl-4 col-lg-6 col-sm-6 mb-4">
        <%- include("../partials/mealkit-info", { ...mk._doc, edit: "/mealkits/edit/" + mk['_id'], remove: "/mealkits/remove/" + mk['_id'] }) %>
    </div>
    <% }); %>
  </div>
  <% } else { %>
  <p>No mealkits in this category...</p>
  <% } %>
</div>
