<!--/*************************************************************************************
* WEB322 - 2241 Project
* I declare that this assignment is my own work in accordance with the Seneca Academic
* Policy. No part of this assignment has been copied manually or electronically from
* any other source (including web sites) or distributed to other students.
*
* Student Name  : Emily Fagin
* Student ID    : efagin (139498224)
* Course/Section: WEB322/NEE
*
**************************************************************************************/-->
<div class="bkg-icons">
    
    <div class="menu-title">
        <h2>On the Menu:</h2>
        <h5>Browse All Mealkits Available in Our Menu Today, By Category!</h5>
    </div>
    
    <% if (typeof categories !== "undefined" && categories.length > 0) { %>
        <div class="container mt-3">
            <% categories.forEach(category => { %>
                <div class="row mk-category">
                    <h2><%= category.categoryName %></h2>
                    <% if (category.mealkits.length > 0) { %>
                        <% category.mealkits.forEach(mk => { %>
                            <div class="col-lg-6 col-md-12 mb-4">
                                <%- include("../partials/mealkit", mk)%>
                            </div>
                            <% }); %>
                    <% } else { %>
                        <p>No mealkits in this category...</p>
                        <% } %>
                </div>
            <% });  %>
    </div>
    <% } else { %>
        <h3>Sorry, No Mealkits Available at This Time...</h3>
    <% } %>
        
</div>